In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("dataset.csv")
df.head()

   AGE  INCOME  STUDENT  CREDIT  BUY
0    0       2        0       0    0
1    0       2        0       1    0
2    1       2        0       0    1
3    2       1        0       0    1
4    2       0        1       0    1

In [4]:
inputs = df.drop('BUY',axis='columns')
target = df.BUY

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.3)

In [6]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [7]:
model.fit(X_train,y_train)

GaussianNB()

In [8]:
model.score(X_test,y_test)

0.8

In [10]:
X_test[0:5]

    AGE  INCOME  STUDENT  CREDIT
6     1       0        1       1
4     2       0        1       0
13    2       1        0       1
11    1       1        0       1
9     2       1        1       0

In [11]:
y_test[0:5]

6     1
4     1
13    0
11    1
9     1
Name: BUY, dtype: int64

In [13]:
model.predict(X_test[0:5])

array([1, 1, 0, 0, 1])

In [14]:
model.predict_proba(X_test[:5])

array([[0.44528098, 0.55471902],
       [0.10173538, 0.89826462],
       [0.7837779 , 0.2162221 ],
       [0.79756636, 0.20243364],
       [0.08809015, 0.91190985]])

In [19]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),X_train, y_train, cv=2)

array([0.4, 0.5])